<div class="card p-3">
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= restaurant.phone_number %>
  </p>

  <p>
    <strong>Category</strong>
    <%= restaurant.category %>
  </p>

</div>
